.ExpenseForm, .BudgetForm {
    margin-top: 10px;
    margin-left: auto;
}

.ExpenseForm > input, .BudgetForm > input {
    width: 250px;
}

.BudgetForm > button {
    width: 250px;
    margin: auto;
}

.ExpenseForm > button {
    width: 300px;
    margin: auto;
}

.ExpenseForm > label, .BudgetForm > label {
    display:block;
    width: 250;
    text-align: right;
    margin: auto 0;
}

